<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--ADD GLOBAL VUE  -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <title>BASICS OF VUE</title>
</head>

<!-- BODY -->
<body>
  <div id="app">
    <h1> {{ greeting }} </h1>
    <hr>
    <h2>Is It True OR False?: {{ isTrue ? "Yes. True!" : "No! False!" }} </h2>
    <hr>
    <h1> Games Objects</h1>
    <hr>
    <h2> {{ arrayOfNames[1] }} </h2>
    <h3> {{ objectGames.Gothic }} </h3>
    <h2> {{ arrayOfNames[0] }} </h2>
    <h3> {{ objectGames.Phasmophobia }} </h3>
    <hr>
    <h1>Function inside Setup()</h1>
    <hr>
    <h2> {{ messageFromArrayFunction() }} </h2>
    <h2> {{messageFromFunction() }} </h2>
    <hr>
    <h1>Using Ref</h1>
    <hr>
    <h2>Value Reactive: {{ count }} </h2>
     {{ changeValue() }} 
    <hr>
    <h2> Changing Ref For 3 sec:</h2>
    <h2> {{ refObj.objCar }} </h2>
    <h2> {{ refObj.objBike }} </h2>
    <h2> {{ refObj.objHuman }} </h2>
     {{ UpdateHuman() }}
    <hr>
    <h1>Using Reactive</h1>
    <hr>
    <h2> Changing Reactive For 2 sec:</h2>
    <h2> {{ reactObj.objGame }} </h2>
    <h2> {{ reactObj.objYearOfGame }} </h2>
      {{ ReactiveShow() }}
      <hr>
      <h1>Directive of Vue</h1>
      <hr>
      <div>
        <img v-bind:src="imageAvatar.src" v-bind:alt="imageAvatar.alt"/>
      </div>
      <hr>
      <h1>V-BIND</h1>
      <a v-bind:href="linkToGoogle" target="_blank">To Goolge</a>
      <hr>
      <a v-bind:href="linkToYouTube" target="_blank">To Reiby Art Games Chanel</a>
      <hr>
      <h1>V-TEXT</h1>
      <h2 v-text="textWelcome"></h2>
      <hr>
      <h1>V-HTML</h1>
      <p v-html="myOwnHtml"></p>
      <hr>
      <h1>V-IF</h1>
      <h3 v-if="user.ageOfUser < user.allowedAgeUser">
        Fuck You, Man! You are not old for drinks!
      </h3>
      <h3 v-else-if="user.ageOfUser >= user.allowedAgeUser">
        Cheers! You are OLD BOY!
      </h3>
      <h3 v-if="CheckOfUser">
      Jack!My Boy!!!!! Cheeeeers!!!
      </h3>
      <hr>
      <h1> V-SHOW </h1>
      <h3 v-show="true">I am here! CSS Display not NONE! V-SHOW is True!</h3>
      <h3 v-show="false">CSS Display equals === NONE</h3>
      <hr>
      <h1>Looping</h1>
      <h2 v-for="(nameLoop, index) in nameOfLoop">
        Index = {{ index }},  Element in Loop = {{ nameLoop}}
      </h2>
      <hr>
      <h1>Object in the Loop</h1>
      <ul>
        <li>
          <h2 v-for="( key, index, value ) in objectsInLoop">
            Key of object - {{ key }}, Index of object - {{ index }}, Value of object {{ value }}
          </h2>
        </li>
      </ul>
      <hr>
      <h1>Array Objects in the Loop</h1>
      <ul>
        <li >
          <h2 v-for="arrObjLoo in arrObjsLoop">
            {{ arrObjLoo.arrObjlooping }} - {{ arrObjLoo.color }}
          </h2>
        </li>
      </ul>
      <hr>
      <!-- Re-render V-ONCE -->
      <h1>Disable re-render</h1>
      <h3 v-once> {{ nameVOnce }} </h3>
      <h3> {{ nameVOnce }} </h3>
      {{ UpdateNameVOnce() }}
      <hr>
      <h1>Working with Events (v-on:click)</h1>
      <h2>
        {{ nameVOnClick }}
      </h2>
      <div>
        <h2 v-on:click="UpdateNameVOnClick">
          Click me to change my name!
        </h2>
      </div>
      <hr>
      <div class="box" v-on:mousemove="GetCoordinates">
        <h4>Hover Me</h4>
      </div>
      <h5> X Position: - {{ coordinatesXY.x }} </h5>
      <h5> Y Position: - {{ coordinatesXY.y }} </h5>
      <hr>
      <!-- Events and Arguments -->
      <h1> Events and Arguments </h1>
   <h2>{{ nameOfEventArgument }}</h2>
      <div v-on:click.right="UpdateNameWithArg('Reiby From Argument!', $event)">
       Click Me For Changing Name From Argument! Right Mouse Click!
      </div>
      <hr>
      <!-- Forms -->
      <form v-on:submit.prevent="handleForm">
        <h3>Enter Your Name</h3>
        <input type="text">
        <button type="submit"> Submit... </button>
      </form>
      <hr>
      <h1> Forms and V-MODEL </h1>
    <div>
      <form v-on:submit.prevent="HandleFormVModel">
        <label>
          Name:
        </label>
        <input type="text" v-model="nameToForm">
        <hr>
        <label>
          Last Name:
        </label>
        <input type="text"v-model="lastNameToForm">
        <hr>
        <label>
          Your Age:
        </label>
        <input type="text"v-model.number="ageToForm">
        <hr>
        <button>
          Press Me
        </button>
        <hr>
        <input type="checkbox" id="checkbox" v-model="nameForm.checkBoxModel">
        <hr>
        <h3> Check Box: {{ nameForm.checkBoxModel }}</h3>  
        <hr>
      </form>
    </div>


      




  </div>
</body>

<!-- STYLE -->
<style>
  .box {
    align-content: center;
    background: red;
    width: 200px;
    height: 200px;
  }
</style>

<!-- SCRIPT -->
<script src="main.js"></script>
<!-- END SCRIPT -->

<!-- return всегда должен возвращать что-то, иначе это не будет отражаться на странице в mustache! -->
<!-- Option API можно использовать совместно с Composition API, но вроде не наоборот) -->
 <!-- С REF лучше использовать простые выражения и свойства, а с REACTIVE лучше работать с Watch, Computed Proprties. C ref нужно ставить value (car.value = 0) -->
  <!-- v-model.trim - удаляет пробелы -->
  <!-- v-model.number - переводит "30" из строки в чистло 30. -->
</html>